body{
    margin: 0;
    padding: 0;

}


/* style the container */
.container{
    background-color: aquamarine;
    text-align: center;
    /* padding: auto; */
    height: 200px;
    padding: 30px;

}

/* style the paragraph */

p{
    font-size: 40px;
}

/* Style the footer */

.footer{
    background-color: salmon;
    text-align: center;
    padding: 30px;
    height: 100px;
    font-size: 40px;
}